@inherits LayoutComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Dark" />

<div class="portfolio-root">
    @Body
</div>

<FluentDialogProvider />
<FluentToastProvider />
<FluentTooltipProvider />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">&#10005;</span>
</div>
