@inject IJSRuntime JS

<header class="pp-header">
    <div class="pp-header-row1">
        <img src="images/mimic-logo.png" alt="The Irony" class="pp-logo" />
        <h1 class="pp-site-title">The Irony</h1>
    </div>
    <p class="pp-site-subtitle">A collection of photographs, drawings, and poems</p>
    <div class="pp-site-byline-row">
        <span class="pp-site-byline">by joseph.</span>
        <FluentButton Appearance="Appearance.Stealth" class="pp-theme-toggle" @onclick="ToggleTheme" title="@(IsLight ? "Switch to dark" : "Switch to light")">
            @if (IsLight)
            {
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.00291 1C11.8684 1.00057 15.002 4.13436 15.002 8C15.002 11.866 11.8679 15 8.00193 15C5.08888 14.9999 2.59229 13.2205 1.53805 10.6914C1.4578 10.4987 1.50656 10.2763 1.65914 10.1338C1.75673 10.0427 1.88381 9.99611 2.01168 9.99902C5.32091 9.99375 8.00193 7.31045 8.00193 4C8.00193 3.18152 7.83715 2.40245 7.54099 1.69238C7.47678 1.53815 7.49426 1.3617 7.58689 1.22266C7.67959 1.08361 7.83581 1.00006 8.00291 1ZM8.72166 2.04395C8.90245 2.66516 9.00194 3.32111 9.00194 4C9.00194 7.60283 6.27984 10.5678 2.78024 10.9551C3.81152 12.7735 5.7636 13.9999 8.00193 14C11.3157 14 14.002 11.3137 14.002 8C14.002 4.92991 11.696 2.39958 8.72166 2.04395Z" fill="currentColor"/>
                </svg>
            }
            else
            {
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 1C8.27614 1 8.5 1.22386 8.5 1.5V2.5C8.5 2.77614 8.27614 3 8 3C7.72386 3 7.5 2.77614 7.5 2.5V1.5C7.5 1.22386 7.72386 1 8 1ZM8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11ZM8 10C6.89543 10 6 9.10457 6 8C6 6.89543 6.89543 6 8 6C9.10457 6 10 6.89543 10 8C10 9.10457 9.10457 10 8 10ZM14.5 8.5C14.7761 8.5 15 8.27614 15 8C15 7.72386 14.7761 7.5 14.5 7.5H13.5C13.2239 7.5 13 7.72386 13 8C13 8.27614 13.2239 8.5 13.5 8.5H14.5ZM8 13C8.27614 13 8.5 13.2239 8.5 13.5V14.5C8.5 14.7761 8.27614 15 8 15C7.72386 15 7.5 14.7761 7.5 14.5V13.5C7.5 13.2239 7.72386 13 8 13ZM2.5 8.5C2.77614 8.5 3 8.27614 3 8C3 7.72386 2.77614 7.5 2.5 7.5H1.5C1.22386 7.5 1 7.72386 1 8C1 8.27614 1.22386 8.5 1.5 8.5H2.5ZM3.14645 3.14649C3.34171 2.95123 3.65829 2.95123 3.85355 3.14649L4.85355 4.14649C5.04882 4.34175 5.04882 4.65834 4.85355 4.8536C4.65829 5.04886 4.34171 5.04886 4.14645 4.8536L3.14645 3.8536C2.95118 3.65834 2.95118 3.34175 3.14645 3.14649ZM3.85355 12.8536C3.65829 13.0489 3.34171 13.0489 3.14645 12.8536C2.95118 12.6584 2.95118 12.3418 3.14645 12.1465L4.14645 11.1465C4.34171 10.9513 4.65829 10.9513 4.85355 11.1465C5.04882 11.3418 5.04882 11.6584 4.85355 11.8536L3.85355 12.8536ZM12.8536 3.14649C12.6583 2.95123 12.3417 2.95123 12.1464 3.14649L11.1464 4.14649C10.9512 4.34175 10.9512 4.65834 11.1464 4.8536C11.3417 5.04886 11.6583 5.04886 11.8536 4.8536L12.8536 3.8536C13.0488 3.65834 13.0488 3.34175 12.8536 3.14649ZM12.1464 12.8536C12.3417 13.0489 12.6583 13.0489 12.8536 12.8536C13.0488 12.6584 13.0488 12.3418 12.8536 12.1465L11.8536 11.1465C11.6583 10.9513 11.3417 10.9513 11.1464 11.1465C10.9512 11.3418 10.9512 11.6584 11.1464 11.8536L12.1464 12.8536Z" fill="currentColor"/>
                </svg>
            }
        </FluentButton>
    </div>
</header>

@code {
    private bool IsLight = false;

    private async Task ToggleTheme()
    {
        IsLight = !IsLight;
        await JS.InvokeVoidAsync("ppSetTheme", IsLight);
    }
}
