@page "/"
@rendermode InteractiveServer

<PageTitle>The Irony</PageTitle>

<SiteHeader />
<div class="pp-studio-page-actions">
    <StudioEditLink Href="/admin/hero?returnUrl=%2F" Label="Edit homepage" />
</div>
<HeroGallery />
<CategorySection />
<SiteFooter />
